
header {
    width: 100vw;
    height: 10vh;
  
    background-color: firebrick;
    color: white;

    h1 {
       left: 0;
       position: absolute;
    }
  
    nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    
        ul {
            display: flex;
        
            li {
                margin-right: 12px;
                list-style: none;
                color: white;

                a {
                    text-decoration: none;
                    color: white;
                }
            }
            
            li:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        } 
    }
} 